@tailwind base;
@tailwind components;
@tailwind utilities;




@layer utilities {
  .hide-sidebar {
    opacity: 0;
    height: 0;
    width: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, height 0.3s ease, width 0.9s ease, visibility 0.3s;
  }

  
  

  
}